<div>
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti pariatur debitis id? Tempore hic alias placeat ab similique velit, perferendis repellendus distinctio tempora optio iste doloribus amet? Quidem, temporibus exercitationem.</p>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>