<div class="card border-primary m-3" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur cumque repellendus, iusto doloremque maxime aperiam ex dolore inventore excepturi voluptatum. Nulla quos, iste ipsa blanditiis eaque a cum suscipit esse?
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    <!-- TODO: Crear los imputs para los textos -->
</div>

