<aside>
  <div class="d-flex flex-column p-3 bg-light sidebar">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Dashboard</span>
      </a>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="home" class="nav-link link-dark" aria-current="page">
            Home
          </a>
        </li>
        <li>
          <a routerLink="clientes" class="nav-link link-dark">
            Clientes
          </a>
        </li>
        <li>
          <a routerLink="notificaciones" class="nav-link link-dark">
            Notificaciones
          </a>
        </li>
        <li>
          <a routerLink="novedades" class="nav-link link-dark">
            Novedades
          </a>
        </li>
        <li>
          <a routerLink="listas-precios" class="nav-link link-dark">
            Listas de precios
          </a>
        </li>
        <li>
          <a routerLink="reparaciones" class="nav-link link-dark">
            Reparaciones
          </a>
        </li>
      </ul>
  </div>
</aside>

